/*--RESET--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--GENERAL--*/
body{
    font-family: 'Poppins', sans-serif;
}
.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--HEADER--*/
header{
    color: white;
    position: absolute;
    top: .3vw;
    right: .2vw;
    z-index: 1;
    font-size: 0.8rem;
}
div.view i{
    margin-right: 0.3rem;
}
div.view,div.fullscreen{
    margin: 0.1rem 0.8rem; 
    background-color: #4a4a4a;
    padding: .3rem;
    border-radius: .3rem;
}
/*--MAIN--*/
main{
    height: 100vh;
    background-color: black;
}
div.container{
    width: 100vw;
    height: 70vh;
    flex-wrap: wrap;
}
div.webcam-box{
    width: 256px;
    height: 148px;
    background-color: white;
    margin: 0.3rem 0.1rem;
    background-image: url(https://picsum.photos/256/148);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
div.mic{
    width: 95px;
    font-size: 0.8rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
    bottom: 0;
    left: 0;
}
/*--Footer--*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
}
div.center{
    width: 50%;
    height: 100%;
}
div.left,div.right{
    width: 25%;
    height: 100%;
}
div.left{
    justify-content: flex-start;
}
div.right{
    justify-content: flex-end;
}
div.icon-text-bottom span{
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}